<!-- Search filter -->

<div class="panel panel-default" ng-if="hasSearchPanel">
  <div class="panel-heading">
    <div class="row">
        <h3 class="col-sm-2 panel-title">Search Filter</h3>
        <div class="col-sm-10">
            <div class="btn-group pull-right">
                <button class="btn btn-default" type="button" name="searchLogic" ng-model="searchLogic.and" btn-radio="false">OR</button>
                <button class="btn btn-default" type="button" name="searchLogic" ng-model="searchLogic.and" btn-radio="true">AND</button>
            </div>
        </div>
    </div>
  </div>



  <div class="panel-body form-horizontal" ng-form="searchForm">
      <div ng-repeat="col in gridOptions.columnDefs">
        <div class="form-group" ng-if="col.searchable">
            <label class="col-sm-2 control-label">{{col.displayName}}</label>
            <div class="col-sm-10">
              <input type="text" ng-model="searchFilter[col.field]"
                dynamic-name="col.field" class="form-control"
                placeholder="{{col.displayName}}" ng-class="{'has-error': hasError(searchForm[col.field]) }" ng-pattern="{{col.validPattern}}">
            </div>
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <button ng-click="search()" class="btn btn-primary"><span class="glyphicon glyphicon-search"></span> Search</button>
        </div>
      </div>
  </div>
</div>

<!-- page with data -->
<table class="crud-grid table table-hover table-bordered table-condensed ">
    <thead>
        <tr class="navigation">
            <th colspan="{{headerColSpan}}">
                <div ng-show="loading"><i class="glyphicon glyphicon-refresh spin"></i> Please wait while loading data...{{se}}<br></div>
                <div ng-show="!(searchFilter | allPropertiesEmpty)">
                    <span class="glyphicon glyphicon-search"></span> : <span ng-show="searchLogic.and">AND</span><span ng-show="!searchLogic.and">OR</span>
                    <div ng-repeat="col in gridOptions.columnDefs">
                        <li ng-if="col.searchable && col.type=='S'">"{{col.displayName}}" contains:  {{ searchFilter[col.field] }}</li>
                        <li ng-if="col.searchable && col.type!='S'">"{{col.displayName}}" = {{ searchFilter[col.field] }}</li>
                    </div>
                </div>
                <div ng-show="!loading" >
                    <pagination total-items="pagination.totalItems"
                        page="pagination.currentPage" items-per-page="pagination.itemsPerPage"
                        max-size="pagination.maxSize" class="pull-right" rotate="true" num-pages="pagination.numPages"></pagination>
                </div>
            </th>
        </tr>
        <tr class="header">
            <th class="col-md-1" ng-if="!readOnly">
                <div class="btn btn-default btn-xs" ng-click="toggleAddMode()">
                    <span class="glyphicon glyphicon-plus"></span>
                </div>
            </th>
            <th class="{{col.width}}" ng-repeat="col in gridOptions.columnDefs" ng-if="!col.hide">
                <!-- sortable header -->
                <div ng-if="col.sortable" ng-click="setViewOrderBy(col)">
                    {{col.displayName}}
                    <i class="glyphicon" ng-class="{'glyphicon-sort-by-alphabet': viewOrderBy.sort == 'asc', 'glyphicon-sort-by-alphabet-alt': viewOrderBy.sort == 'desc'}" ng-show="viewOrderBy.field == col.field"></i>
                </div>
                <!-- not sortable header -->
                <div  ng-if="!col.sortable">{{col.displayName}}</div>
            </th>
        </tr>
    </thead>

    <tbody>

    <tr ng-if="addMode && !readOnly" ng-form="addForm">
        <td>
            <div class="btn-group">
                <div class="btn btn-default btn-xs" ng-click="addObject()">
                    <span class="glyphicon glyphicon-save" ></span>
                </div>
                <div class="btn btn-default btn-xs" ng-click="toggleAddMode()">
                    <span class="glyphicon glyphicon-remove"></span>
                </div>
            </div>
        </td>
        <!-- Object details in ADD mode : ['{{col.field}}'] -->
        <td ng-repeat="col in gridOptions.columnDefs" ng-if="!col.hide">

            <span ng-if="col.readOnly && !col.defaultOnAdd"></span>
            <span ng-if="col.readOnly && col.defaultOnAdd" ng-init="object[col.field]=col.defaultOnAdd">{{col.defaultOnAdd}}</span>
            
            <span ng-if="!col.readOnly">
                <input type="text" dynamic-name="col.field"
                    class="form-control" placeholder="{{col.displayName}}"
                    ng-class="{'has-error': hasError(addForm[col.field]) }"
                    ng-model="object[col.field]" ng-required="{{col.required}}" ng-pattern="{{col.validPattern}}" />
            </span>
        </td>
    </tr>
    <tr ng-repeat="object in objects" ng-if="!col.hide">
        <!-- Edit Actions -->
        <td ng-if="!readOnly">
            <div class="btn-toolbar" ng-show="object.$edit == null">
                <div class="btn-group">
                    <div class="btn btn-default btn-xs" ng-click="toggleEditMode(object)">
                        <span class="glyphicon glyphicon-edit"></span>
                    </div>
                    <div class="btn btn-default btn-xs"  ng-click="deleteObject(object)">
                        <span class="glyphicon glyphicon-trash"></span>
                    </div>
                </div>
            </div>
            <div class="btn-toolbar" ng-show="object.$edit">
                <div class="btn-group">
                    <div class="btn btn-default btn-xs" ng-click="updateObject(object)">
                        <span class="glyphicon glyphicon-save"></span>
                    </div>
                    <div class="btn btn-default btn-xs" ng-click="toggleEditMode(object)">
                        <span class="glyphicon glyphicon-remove"></span>
                    </div>
                </div>
            </div>
        </td>

        <!-- Object details -->

        <td ng-repeat="col in gridOptions.columnDefs" ng-if="!col.hide">
            <span ng-if="col.readOnly" >{{object[col.field]}}</span>
            <span ng-if="!col.readOnly" ng-show="object.$edit == null" ng-class="object.$animated">{{object[col.field]}}</span>
            <ng-form name="editForm" ng-if="editMode">
                <input class="form-control" ng-if="isInputForm(object, col)"
                    ng-model="object.$edit[col.field]"
                    ng-required="{{col.required}}"
                    ng-init="object.$edit['$old_' + col.field]=object.$edit[col.field]"
                    ng-change="valueChanged(col.field, object.$edit)"
                    ng-pattern="{{col.validPattern}}" model-change-blur />
            </ng-form>
        </td>
    </tr>
    <tr class="navigation">
        <td>
            <button class="btn btn-primary" ng-click="refresh()">
                <i class="glyphicon glyphicon-refresh" ng-show="!loading"></i>
                <i class="glyphicon glyphicon-refresh spin" ng-show="loading"></i> Refresh
            </button>
        </td>
        <td colspan="{{headerColSpan}}">
            <span ng-show="!loading" class="pull-left"><i class="glyphicon glyphicon-hand-right"></i> Total Items: {{pagination.totalItems}}</span>
            <span ng-show="!loading" class="pull-right">
                <pagination total-items="pagination.totalItems"
                        page="pagination.currentPage" items-per-page="pagination.itemsPerPage"
                        max-size="pagination.maxSize" class="pull-right" rotate="true" num-pages="pagination.numPages"></pagination>
            </div>
        </td>

        </td>
    </tr>
    </tbody>
</table>